<div class="contenidoReproductor">
    <div class="imgSongReproductor"></div>
    <div class="botonesReproductor">
        <button (click)='prev()'><img src="../../../assets/img/botonPreview.png"></button>
        <button onclick="document.querySelector('audio').play()"><img src="../../../assets/img/botonPlay.png"></button>
        <button onclick="document.querySelector('audio').pause()"><img src="../../../assets/img/botonPausa.png"></button>
        <button (click)='next()'><img src="../../../assets/img/botonNext.png"></button>
    </div>
</div>