
.contenedor{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 200px 550px 60px;
    }
.contenedorUsuario{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 300px auto auto;
    }    

/* MENU */
.menu{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    height: auto;  
    background-color: #E50033;
    padding-left: 0px;

    grid-template-rows: 300px 300px;
    }
.perfil{
    display: grid;
    width: 100%;
    height: auto;  
    grid-row: 1/2;
    justify-content: center;
    padding-top: 40px;
}
.perfil>img{
    display: grid;
    width: 120px;
    height: 120px;  
    border-radius: 100px;
    background-color: white;
}
.perfil>p{
    display: grid;  
    height: 70px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}
.ventanas{
    display: grid;
    width: 100%;
    height: auto;  
    grid-row: 2/3;
}
.pagina{
    display: grid;
    width: 90%;
    height: 65px;
    color: #E50033;
    background-color: #660033;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.pagina2{
    display: grid;
    width: 90%;
    height: 65px;
    color: #E50033;
    background-color: #0F0033;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.pagina3{
    display: grid;
    width: 90%;
    height: 65px;
    color: #0F0033;
    background-color: #D8D816;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.paginaSeleccionada{
    display: grid;
    width: 90%;
    height: 65px;
    margin-left: 10%;
    padding-left: 30px;
    color: #E50033;
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}




/* HEADER REGISTRO Y LOGIN */
.headerRegistro{
    display: grid;
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    grid-template-columns: 5% 10% 35% 14% 14% 10% 15%;
}
.headerRegistro > img{
    grid-column: 2/3;
}
.textoInciarSesion{
    grid-column: 4/5;
    width: 200px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #E50033;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 15px;
    text-align: center;
}
.textoCrearCuenta{
    grid-column: 5/6;
    width: 200px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #E50033;
    background-color: #F2F2F2;
    border-style: none;
    border-radius: 15px;
    text-align: center;
}
.botonEntrar{
    grid-column: 6/7;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #E50033;
    border-style: none;
    border-radius: 15px;
    align-items: center;
}
.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    top: 0;
  }
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate linear;
  }
  .slider li {
    width: 100%;
    list-style: none;
  }
  .slider img {
    width: 100%;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }





/* HEADER NORMAL */
.header{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;  
}
.barraHeader{
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: 55% 10% 35%;
}
.flechasHeader{
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}
.buscadorHeader{
    display: grid;
    width: 360px;
    height: 35px;
    margin-top: 15px;
    grid-column: 3/4;
    background-color: #303060;
    border-radius: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    text-align: center;
    border-style: none;
}
/* HEADER BLANCO USUARIO */
.headerBlancoUsuario{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;  
    margin-bottom: 20px;
}
.historialHeader{
    display: grid;
    grid-column: 1/2;
    color: white;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 16px;
}
.titlePerfilUsuario{
    display: grid;
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    color: #080633;
    padding-left: 50px;
}


/* CONTENIDO REGISTRO */
.contenidoFormulario{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 630px;
    background-color: #E50033;
    align-items: center;
    justify-content: center;
}
.formulario{
    display: grid;
    grid-column: 4/6;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 17%);
    width: 420px;
    height: 420px;
    font-family: 'Lato', sans-serif;
    background-image: url(../assets/img/botones/cuadradoRegistro.png);
    background-size: 420px;
}
.formulario > h3{
    display: grid;
    grid-row: 1/2;
    grid-column: 2/4;
    margin-left: 20%;
    font-size: 32px;
    color: #330033;
}
.formulario > form{
    display: grid;
    grid-row: 3/9;
    grid-column: 3/6;
    justify-content: space-around;
}
.formulario > form > input{
    height: 30px;
  background-color: #660033;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  grid-column: 3/6;
  border-style: none;
}
.cancelar{
    width: 90px;
    height: 35px;
    background-color: #0F0033;
    color: white;
    border-radius: 10px;
    grid-row:8/9;
    grid-column: 3/4;
    border-style: none;
}
.aceptar{
    width: 90px;
    height: 30px;
    background-color: #E50033;
    color: white;
    border-radius: 10px;
    grid-row: 8/9;
    grid-column: 4/5;
    border-style: none;
}
.error{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}



/* CONTENIDO TENDENCIAS */
ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
}
ul.slider li {
    opacity: 0; /*Ocultamos todos los <li>*/
    transition: opacity .5s;
    position: absolute; /*Posicionamos en absoluto los <li>*/
    left: 0px;
    top: 0px;
    margin:50px;
    padding:50px;
    border:2px solid red;
    background:#fff;
    
}
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}
nav {
    position:relative;
    top:200px;
    left:50px;
}

.nom-slide{
    background-color: crimson;
    width: 300px;
    height: 50px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: -20px;
    position: relative;
    z-index: 5;
}

.sli{
    width: 22%;
    height: auto;
    float: left;
    margin: 10px;
    text-align: center;
    
}

.sli >h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e50033;
}

.sli >p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(32, 32, 32);
    margin-top: -10px;
}


.sli >img{
    width: 100%;
    height: auto;
}

.cont-slide{

    width:84%;
    height: auto;
    margin: auto;
    background-color: #D8D816;
    position: absolute;
    padding-top: 40px;
    
}
.btn{
    float: left;
    
}

.mySlides{
    transition:all 0.3s ease;
}

.contenedorslide{
    
    width: auto;
    height: 420px;
}



/* CONTENIDO */  
.contenido{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: auto; 
    background-color: white;

    grid-template-rows: 30% 70% ;
}
.tituloPerfil{
    display: grid;
    grid-row: 1/2;
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    color: #0F0033;
    text-align: center;
    font-weight: bolder;
}
.cancionesPerfil{
    display: grid;
    grid-row: 2/3;
    background-color: #660033;
}

/* CONTENIDO PERFIL USUARIO */  
.contenidoPerfilUsuario{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    height: auto; 
    background-color: white;

    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.favoriteSong{
    display: grid;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
}
.cuadradoBackPerfilUsuario{
    display: flex;
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #D8D816;
}
.cuadradoFrontPerfilUsuario{
    display: flex;
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #E50033;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
.cuadradoFrontPerfilUsuarioSongSelected{
    display: flex;
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #330033;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

/* CONTENIDO PERFIL ADMIN*/  
.contenidoPerfilAdmin{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    height: auto; 
    background-color: #0F0033;

    grid-template-rows: 80px auto ;
}
.encabezadoContenidoAdmin{
    display: grid;
    grid-row: 1/2;
    width: 100%;

    grid-template-columns: 35% 30% 35%;
}
.buscadorLocalAdmin{
    display: grid;
    grid-column: 1/2;
    width: 60%;
    height: 40px;
    margin: auto;
    text-align: center;

    border-radius: 15px;
    background-color: #303060;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    border-style: none;
    color: white;
}
.botonAgregarAdmin{
    display: grid;
    grid-column: 3/4;
    width: 60%;
    height: 40px;
    margin: auto;
    text-align: center;
    align-items: center;

    border-radius: 15px;
    background-color: #E50033;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: white;
    border-style: none;
}
.listaTareasSongs{
    display: grid;
    grid-row: 2/3;
    width: 100%;
    height: auto;

    grid-template-rows: 100px auto;
}
.titleListAdmin{
    display: grid;
    grid-row: 1/2;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: white;
}
.databaseListAdmin{
    display: grid;
    grid-row: 2/3;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0px;
}
.databaseSong{
    display: grid;
    width: 1100px;
    height: 70px;
    background-color: #F2F2F2;
    margin-bottom: 20px;

    grid-template-columns: 5% 10% 25% 25% 25% 5%;
}
.imgSong{
    display: grid;
    width: 50%;
    height: 50px;
    grid-column: 2/3;
    background-color: #E50033;
    margin: auto;
    border-radius: 20px;
}
.nameSong{
    display: grid;
    width: auto;
    grid-column: 3/4;
    align-items: center;
    color: #660033;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-style: italic;
}
.nameArtist{
    display: grid;
    width: auto;
    grid-column: 4/5;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #660033;
    font-size: 19px;
    font-style: italic;
}
.durationSong{
    display: grid;
    width: auto;
    grid-column: 5/6;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #660033;
    font-size: 19px;
    font-style: italic;
}
.botonDeleteSong{
    display: grid;
    width: auto;
    grid-column: 6/7;
    align-items: center;
}

/* CONTENIDO SUGERENCIAS */  
.contenidoSugerencias{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: auto; 
    background-color: white;

    grid-template-rows: 13% 87% ;
}
.categorias{
display: grid;
width: 100%;
height: auto;
grid-row: 1/2;

grid-template-columns: 30% 20% 20% 30%;
padding-top: 20px;
}
.categoria1{
display: grid;
width: auto;
height: 50px;
grid-column: 2/3;
align-items: center;
justify-content: center;
font-family: 'Raleway', sans-serif;
font-style: italic;
font-size: 16px;
color: #660033;
}
.categoria2{
display: grid;
width: auto;
height: 50px;
grid-column: 3/4;
align-items: center;
justify-content: center;
font-family: 'Raleway', sans-serif;
font-style: italic;
font-size: 16px;
color: #660033;
border-radius: 20px;
}

.sugerenciasOpciones{
display: grid;
margin-top: 20px;
grid-row: 2/3;
width: auto;
height: auto; 
background-color: white;

display: flex;
padding-left: 120px;
padding-right: 120px;
flex-wrap: wrap;
justify-content: space-around;
}
.opciones{
display: grid;
position: relative;
width: 250px;
height: 250px;
margin: 10px;
}
.cuadradoBackSugerencias{
display: flex;
position: absolute;
width: 210px;
height: 210px;
background-color: #080633;
}
.cuadradoFrontSugerencias{
display: flex;
position: absolute;
width: 210px;
height: 210px;
background-color: #E50033;
right: 0px;
bottom: 0px;
z-index: 1;
}
.cuadradoFrontSugerenciasSongSelected{
display: flex;
position: absolute;
width: 210px;
height: 210px;
background-color: #080633;
right: 0px;
bottom: 0px;
z-index: 1;
}


/* REPRODUCTOR */
.contenidoReproductor{
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 150px;
    background-color: #0F0033;
    z-index: 3;

    grid-template-columns: 25% 50% 25%;
}
.botonesReproductor{
    display: flex;
    grid-column: 2/3;
    flex-wrap: wrap;
    justify-content: space-around;
}
.botonesReproductor>img{
    display: flex;
    margin: auto;
}
.botonesReproductor>button{
    border-style: none;
    background-color: #0F0033;
}


/* FOOTER */
.footer{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: auto; 
    background-color: #330033;
    color: white;
    text-align: center;
    } 

.footerRegistro{
    display: grid;
    width: 100%;
    height: 60px; 
    background-color: #330033;
    } 


/* SEARCH */
/* .contendorResultadoSearch{
        width: 230px;
        background-color: #47477c;
        margin-left: 40px;
        color: #c1c1c7;
        padding: 30px;
        z-index: 3;
    } */