
<registro></registro>
  <!-- <contenidoMiLista></contenidoMiLista>   -->
<!--  <contenidoPerfilAdmin></contenidoPerfilAdmin>  -->
<!-- <contenido-perfil-admin-agregar></contenido-perfil-admin-agregar> -->
<!--  <contenidoSugerencias></contenidoSugerencias>  -->

<!-- <router-outlet></router-outlet> -->
<!-- <search (search)="handleSearch($event)"></search>
<div class="contendorResultadoSearch">
    <ul> -->
        <!-- adaptar a la base de datos con el Pipe -->
        <!-- <li *ngFor="let usuario of usuarios | filter:filtro_valor">{{usuario.name}}</li>
    </ul>
</div> -->
<!-- <generoRock></generoRock> -->

<!-- <h1>hola</h1>
<ul class="list-group">
  <li *ngFor = 'let cancion of listaDeCanciones.canciones'>
    {{cancion.titulo}}
    <button>actualizar</button>
    <button>borrar</button>
  </li>
</ul> -->



